{% extends "global/base.html" %}
{% block main %}

    <main>


        <section class="contatos" style="padding-top: 50px;">
            <article class="container my-5">
                <h2>Entre em Contato Conosco</h2>
                <p>Tem alguma dúvida ou precisa de mais informações sobre nossos produtos? Aqui estão as formas de entrar em
                    contato conosco:</p>
    
                <ul class="lista-contatos">
                    <li>
                        <strong>Telefone:</strong> (21) 4002-8922
                    </li>
                    <li>
                        <strong>E-mail:</strong> <a>contato@apexeletronics.com.br</a>
                    </li>
                    <li>
                        <strong>Endereço:</strong> Av. das Américas, 4666 
                        Barra da Tijuca, Rio de Janeiro - RJ, 22640-102
                    </li>
                    <li>
                        <strong>Redes Sociais:</strong>
                        <ul class="social">
                            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                            <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
                            <li><a href="https://web.whatsapp.com/#" target="_blank">WhatsApp</a></li>
                        </ul>
                    </li>
                </ul>
            </article>
        </section>


    </main>
    <!--rodapé-->
    
{% endblock main %}