<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sobre nós</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                A Apex Eletronics é uma loja líder no mercado de produtos eletrônicos, oferecendo uma vasta gama de
                dispositivos de alta qualidade, desde smartphones inovadores a computadores de última geração. Nosso
                compromisso é proporcionar aos clientes a melhor experiência de compra, com produtos que combinam
                tecnologia avançada e design moderno. Valorizamos a satisfação do cliente e nos esforçamos para
                oferecer um atendimento excepcional, garantindo que cada compra atenda às suas expectativas. Venha
                nos visitar e descubra as últimas novidades em tecnologia.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>

            </div>
        </div>
    </div>
</div>

