{% extends "global/base.html" %}
{% block main %}

<body>
    
<main class="container  my-5">
    <section class="row gap-3">
        <h2 class="text-center mb-5">Todos os Produtos</h2>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/iphone_16_promax.jpg" class="card-img-top" alt="Iphone 16 Pro Max">
                <h5 class="card-title">Iphone 16 Pro Max</h5>
                <p class="card-text">iPhone 16 Pro Max Apple 256GB, Câmera Tripla de 48MP, Tela 6,9",
                    Titânio-Deserto</p>
                
                <p class="preco">R$ 9.199,00</p>
                <a href="/projeto/html/final.html" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">

            <figure class="card-body">
                <img src="/static/global/image/iphone_16_pro.jpg" class="card-img-top" alt="Iphone 16 Pro">
                <h5 class="card-title">Iphone 16 Pro</h5>
                <p class="card-text">iPhone 16 Pro Apple 128GB, Câmera Tripla de 48MP, Tela 6,3", Titânio Preto</p>
                
                <p class="preco">R$ 8.799,00</p>
                <a href="/projeto/html/final_16_pro.html" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/iphone16.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Iphone 16</h5>
                <p class="card-text">iPhone 16 Apple 128GB, Câmera Dupla de 48MP, Tela 6.1", Preto</p>
                
                <p class="preco">R$ 5.399,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/iphone15.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Iphone 15</h5>
                <p class="card-text">iPhone 15 Apple, 128GB, 6,1", 48MP, iOS, 5G, Azul</p>
                <br>
                <p class="preco">R$ 4.599,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/ps5pro.webp" class="card-img-top" alt="...">
                
                <h5 class="card-title">Playstation 5 Pro</h5>
                <p class="card-text">Console PlayStation 5 Pro Sony, SSD 2TB, Com Controle Sem Fio DualSense, Branco</p>
                <br>
                <br>
                <p class="preco">R$ 6.416,99</p>
                <a href="/projeto/html/final_ps5_pro.html" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/ps5_fifa.webp" class="card-img-top" alt="...">
                
                <h5 class="card-title">Playstation 5 + Fc 24</h5>
                <p class="card-text">Console Playstation 5 Sony, SSD 825GB, Mídia Física, Controle Sem Fio
                    Dualsense, Branco</p>
                <br>
                <p class="preco">R$ 4.713,99</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/gpro_superlight_2.webp" class="card-img-top" alt="...">
                <h5 class="card-title">Logitech G Pro X Superlight 2</h5>
                <p class="card-text">Mouse Gamer Sem Fio Logitech G Pro X Superlight 2 com Lightspeed, 32000 DPI,
                    Sensor Hero 2,Branco</p>
                
                <p class="preco">R$ 819,99</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/ps5.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Playstation 5</h5>
                <p class="card-text">Console PlayStation 5 Slim Sony, SSD 1TB, Edição Digital, Com Controle Sem Fio
                    DualSense, Branco + 2 Jogos Digitais </p>
                
                <p class="preco">R$ 3.431,61</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/apple_watch_ultra2.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Apple Watch Ultra 2 GPS</h5>
                <p class="card-text">Apple Watch Ultra 2 GPS + Cellular, Caixa de Titânio de 49mm, Pulseira Loop
                    Alpina Índigo, Tamanho G</p>
                    <br>
                <p class="preco">R$ 7.999,99</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/monitor_asus.webp" class="card-img-top" alt="...">
                <h5 class="card-title">Monitor Asus Tuf 180hz</h5>
                <p class="card-text">Monitor Gamer ASUS TUF VG279Q3A 27" Full HD, 180Hz, 1ms, IPS, DisplayPort e
                    HDMI, FreeSync Premium, G-Sync, 99% sRGB</p>
                
                <p class="preco">R$ 1.999,99</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/robo_aspirador.webp" class="card-img-top" alt="...">
                <h5 class="card-title">Robô Aspirador 2 em 1 Samsung </h5>
                <p class="card-text">Aspirador Robô 2 Em 1 Samsung,Conectividade Por Wi-fi,Powerbot-e Vr5000rm -
                    Potente E Inteligente - bivolt</p>
                
                <p class="preco">R$ 1.440,00</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
        <article class="card col-12 col-sm-3" style="width: 18rem;">
            <figure class="card-body">
                <img src="/static/global/image/notebook_asus.webp" class="card-img-top" alt="...">
                <h5 class="card-title">Notebook Gamer Asus</h5>
                <p class="card-text">Notebook Asus Tuf Gaming F15 Fx507zc4, RTX 3050, Intel Core I5 12500h,
                    8GB RAM, SSD 512GB, Linux, Keepos, Tela De 15,6'' 144hz Mecha Gray</p>
                
                <p class="preco">R$ 4.479,99</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </figure>
        </article>
    </section>
</main>
    


{% endblock main %}